<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= description %></h2>
    <a href= "/user/<%= user._id %>/edit-user"> Edit Profile</a>

    <ul>
      <% artwork.forEach( (artwork) => { %>
        <% if(user._id.equals(artwork._creator)){  %>
        <li>
          <a href="/artwork/<%= artwork._id %>">
            <%= artwork.title %>
          </a>
          - <%= artwork.description %>
          <a href="/artwork/<%= artwork._id %>/edit">
            <img src="<%= artwork.picturePath %>" alt="<%= artwork.originalName %>" />
            Edit
          </a>
          <a href="/artwork/<%= artwork._id %>/delete">
            Delete
          </a>
        </li>
        <% } %>
      <% }); %>
    </ul>
   

    <a href = "/new">
      Click here to add a new artwork
    </a>
  </body>
</html>


