<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="profile">
<div class= "profile-info">

  <h1 class ="profile-title"><%= title %></h1>
  <p class ="profile-description"><%= description %></p>
  <br>
  <a class ="profile-edit" href= "/user/<%= user._id %>/edit-user"> Edit Profile</a>
 <br>
  <a href = "/new">
      Click here to add a new artwork
    </a>
  </div>
<br>
    <ul id= "artwork" class = "profile-artwork">
      <% artwork.forEach( (artwork) => { %>
        <% if(user._id.equals(artwork._creator)){  %>
          <li>
            <br>
          <a class = "artwork-title" href="/artwork/<%= artwork._id %>">
            <%= artwork.title %>
          </a>
          <br>
          <%= artwork.description %>
          <br>
          <li>
          <a href="/artwork/<%= artwork._id %>/edit">
            <img class= "profile-image" src="<%= artwork.picturePath %>" alt="<%= artwork.originalName %>" />
          </li>
            Edit
          </a>
          <a href="/artwork/<%= artwork._id %>/delete">
            Delete
          </a>
        </li>
        <% } %>
      <% }); %>
    </ul>
   

   
  </body>
</html>


